* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: burlywood;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 700px;
    height: auto;
    border-radius: 10px;
    border: 10px solid #000;
}

.contact {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

a:hover {
    text-decoration: underline;
    font-size: large;
}

.bio {
    padding-top: 50px;
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
}

.bio-content{
    margin-left: 200px;
    margin-right: 200px;
}

.projects {
    text-align: left;
    margin-left: 30px;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 30px;
}
.contact-title{
    font-weight: bold;
}
/* 
.project-list {

    margin-left: 50px;
} */
.para{padding-top: 30px;}

.carl-desc{
    text-indent: 40px;
    font-family:cursive;
    font-size: large;
    border: 2px solid #000;
    color: blue;
    /* margin-left: 30px; */
}

.carl-desc::first-letter{
    font-size: 2em;
    font-weight: bolder;
    font-family:cursive;
}
#blue{
    color: blue;
}
.carl-desc:hover{
    background-color: blueviolet;
}
#black{
    color: black;
}

@media (max-width: 1200px){

    .carl-desc{
        font-size: small;
    }


.profile-img {
    width: 320px;
}

.bio {
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.projects {
    margin-left: 0px;
    margin-right: 10px;
}

.project-list {
    margin-left: 50px;
}
.bio-content{
    margin-left: 20px;
    margin-right: 20px;
}
}
